* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  height: 12vh;
  width: 100%;
  padding: 15px;
  background-color: #000000;
}
header i {
  font-size: 50px;
  color: #1DD05D;
}

body {
  background-color: #1F1F1F;
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 30px;
}

.disc-box {
  height: 300px;
  width: 200px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-color: #272727;
}
.disc-box h2 {
  font-family: "Noto Sans SC", sans-serif;
  padding-top: 5px;
  font-size: 18px;
  color: #FFFFFF;
}
.disc-box h3 {
  font-family: "Roboto", sans-serif;
  padding-top: 5px;
  font-size: 16px;
  color: #FFFFFF;
}
.disc-box h4 {
  font-family: "Yusei Magic", sans-serif;
  padding-top: 5px;
  font-size: 14px;
  color: #808080;
}
.disc-box img {
  margin: 0 auto;
  height: 60%;
  width: 95%;
  padding-top: 10px;
}
