body {
  background-color: $backgroundColor;
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 30px;
}

.disc-box {
  position: relative;
  height: 300px;
  width: 200px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  background-color: $discBoxColor;
    h2 {
      font-family: 'Noto Sans SC', sans-serif;
      padding-top: 5px;
      font-size: 18px;
      color: $titleColor;
    }
    h3 {
      font-family: 'Roboto', sans-serif;
      padding-top: 5px;
      font-size: 16px;
      color: $titleColor;
    }
    h4 {
      font-family: 'Yusei Magic', sans-serif;
      padding-top: 5px;
      font-size: 14px;
      color: $yearColor;
    }
    img {
      margin: 0 auto;
      height: 60%;
      width: 95%;
      padding-top: 10px;
    }
    .layover {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: $layoverColor;
        i {
          position: absolute;
          top: 40%;
          right: 10%;
          font-size: 45px;
          color: $spotifyColorIcon;
          text-shadow: 1px 1px grey;
        }
    }
}
.disc-box:hover .layover {
  display: block;
}
